.heading{
    height: 4%;
    width: 71.4%;;
    border-radius: 0.3rem;
    background-color:rgb(255, 229, 182) ;
    margin-left: 10%;
    margin-top: 50px ;
    color: rgb(13, 13, 166);
    text-align: center;    
}
.container1,.container2,.container3{
    height: 35%;
    background-color:rgb(255, 229, 182) ;
    margin: 0.4rem 0rem 0rem 1rem ;
    border-radius: 0.5rem;
    background-color: rgb(255, 229, 182);
    color: rgb(13, 13, 166);
    width: 30%;       
}
#center{
    height: 150px;
    display: flex;
    flex-direction: row; 
}
#paragraph1{
    text-align: center;
}
.circle {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(13, 13, 166);
    border-radius: 50%;
}
.content{
    height: 53%;
    width: 71.4%;
    margin-left: 10%;
    border-radius: 0.3rem;
    background-color: rgb(255, 247, 233);
}
.para1{
    height:100px;
    width:200px;
    text-align: center;
    margin: 20% 5% 30% 10%;
}
.para2{
    height:100px;
    width:200px;
    text-align: center;
    margin: 17% 50% 30% 10%;
}
.img{
    margin: 10% 10% 0px 10%;

}
.img1{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(13, 13, 166);
    border-radius: 50%;  
}
.Details{
    margin: 0px 30% 0px 40% ;
}
.col,.row{
    display: flex;
}
.bi{
    font-size: 80px;
    color: rgb(13, 13, 166);
}


